@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face{
	font-family: 'fodinha';
	src: url("fontes/Asimovian-Regular.ttf");
}

body#corpo{
	background: url("../imagens/fundo.jpg");
}
header#cabecalho{
	border-bottom: solid 2px gray;
}
footer.rodape{
	border-top: solid 2px gray;
	text-align: center;
}
span.texto p{
	text-align: justify;
	font-size: 16pt;
	font-family: "Anton", sans-serif;
	text-indent: 50px;
}
figure.outrasFotos{
	/*border: solid 3px rgb(0,0,0);*/
	background-color: lightgray;
	text-align: center;
	box-shadow: 0px 0px 20px #000000;
	border-radius: 80px;
}
figure.foto1{
	text-align: center;
	border-radius: 60px;
	border: solid 8px #000000;
	box-shadow: 6px 6px 6px gray;
	background-color: lightblue;
	width: 20%;
	padding-top: 5px;
	border-radius: 10px;
	float: right;
	transition: transform 1.5s;
}
figure.foto1:hover{
	transform: rotateZ(10deg);
}
figure.foto1 h4{
	margin-top: -4px;
	margin-bottom: 0px;
	background-color: yellow;
}
figure.foto1 img{
	width: 95%;
	height: 150px;
}
/*Formatação do menu principal*/
nav#menu h3{
	display: none;
}
nav#menu ol{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	right: 60px;
}
nav#menu li{
	display: inline-block;
	background-color: lightgray;
	padding: 10px;
	margin: 3px;
	border-radius: 10px;
	transition: backgroud-color 2s, transform 1s;
}
nav#menu li:hover{
	background-color: darkgray;
	transform: rotateZ(-15deg);
	transition: transform 1s; 
}
nav#menu a{
	color: black;
	text-decoration: none;
}
nav#menu a:hover{
	color: white;
	text-decoration: underline;
}
/*Formatação dos titulos do article*/
article#artigo h1{
	background-color: gray;
	text-shadow: 2px 2px 2px yellow;
	font-size: 25pt;
	text-align: center;
	transition: all 1s;
	font-family: 'fodinha';
}
article#artigo h1:hover{
	letter-spacing: 20px;
}
header#cabecalho img.logo{
	position: absolute;
	top: 5px;
	left: 3px;
}
hgroup.titulos h1{
	text-transform: uppercase;
	font-size: 30pt;
	letter-spacing: -20px;
	width: 35%;
	border-radius: 20px;
	transition: all 2s;
}
hgroup.titulos h1:hover{
	letter-spacing: 6px;
	background-color: blue;
	color: white;
	box-shadow: 6px 6px 6px gray;
	margin-left: 9px;
}
/*Formatação dos icones*/
header#cabecalho img.icone{
	position: absolute;
	top: 70px;
	right: 80px;
}
/*Formatação da tabela*/
table{
	border: solid 3px gray;
	border-spacing: 0px;
	background-color: white;
	float: left;
}
caption{
	background-color: gray;
	font-size: 15pt;
}
table.produtos th{
	background-color: aliceblue;
	border: solid 1px black;
}
table.produtos td{
	border: solid 2px red;
	text-align: center;
	padding: 10px;
	transition: all 1s;
}
table.produtos td:hover{
	background-color: #000000;
	color: white;
	border-radius: 20px;
}
/*Alinhamento dos videos*/
iframe.video{
	margin-left: 90px;
}
/*Formulário Web*/
form.contato{
	width: 50%;
	background-color: white;
	margin: auto;
}
form.contato fieldset.sexo{
	width: 25%
}
